/* --------------------------------*/
/* ---- INIT */
/* --------------------------------*/


body {
	font-family: "sans-serif";
	background-color: var(--menubackgroundcolor);
	margin: 0;
	font-size: var(--fontsize);
/*	display: flex;*/
/*	flex-direction: column;*/
/*	overflow: hidden;*/
}
input[type=checkbox] {
	display: none;
}
label:hover , summary {
	cursor: pointer;
}
input[readonly] {
	cursor: default;
}
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: var(--fontsize);

  /* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* internationalisation interface boilerplate */
:root {
--txt-select: "select";
--txt-select-2: "select";
--txt-notknown: "notknown";
--txt-notknown-2: "notknown";
--txt-data: "data";
--txt-data-2: "data";
--txt-comparemode: "comparemode";
--txt-detailmode: "detailmode";
--txt-viewresult: "viewresult";
--txt-invalid: "invalid";
--txt-reload: "reload";
--txt-language: "language";
--txt-starting: "click on reload icon in top left";
}

.txt-select::after {			content: var(--txt-select); }
.txt-select-2::after {			content: var(--txt-select-2); }
.txt-notknown::after {			content: var(--txt-notknown); }
.txt-notknown-2::after {		content: var(--txt-notknown-2); }
.txt-data::after {			content: var(--txt-data); }
.txt-data-2::after {			content: var(--txt-data-2); }
.txt-selectmode::after {		content: var(--txt-selectmode); }
.txt-viewresult::after {		content: var(--txt-viewresult); }
.txt-invalid::after {			content: var(--txt-invalid); }
.txt-reload::after {			content: var(--txt-reload); }
.txt-language::after {			content: var(--txt-language); }
.txt-starting::after {			content: var(--txt-starting); }

